<header>
    <nav class="uk-navbar uk-background-secondary">
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">

                <li><a href="/">Inicio</a></li>
                <li><a href="/nuevo">Crear</a></li>
                <li><a href="/allArticulos">Notas</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </div>
    </nav>
</header>