<header>
    <nav class="uk-navbar uk-background-secondary">
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">

                <li><a href="/">Inicio</a></li>
                <li><a href="/nuevo">Publicar</a></li>
                <li><a href="/allArticulos">Ver Publicaciones</a></li>
                <li><a href="#">About</a></li>

            </ul>
        </div>
    </nav>
</header>