<%- include('inc/head') %>

<%- include('inc/main') %>

<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <h3 class="uk-heading-small uk-text-uppercase">Acerca de publinote</h3>

        <p>
            <span class="uk-text-bold uk-text-uppercase">publinote</span> es un sitio web donde podras escribir notas de texto con opcion de visualizarlas, editarlas o eliminarlas. Es un proyecto creado por <a href="https://github.com/ulisesafcdev" class="uk-text-muted uk-text-bold uk-button-text uk-button" target="_blank">@ulisesafcdev</a>. Este proyecto nacio despues de largas horas de aprendizaje sobre el lenguaje NODE.JS. Decidi crear este proyecto ya que cuando empeze a programar con NODE.JS mi imaginacion empezo a volar, y he aqui este sitio web. Si bien es cierto puede tener errores y falta implementar mas cosas, pero he aplicado mis conocimientos ademas de haber investigado en internet conceptos, soluciones, errores, etc. Me considero autodidacta, y es un atributo que todos debemos tener. <br>
            <br>
            Puedes contactarme por:
            <ul>
                <li><a href="https://twitter.com/ulisesafcdev" target="_blank">Twitter</a></li>
                <li><a href="https://intagram.com/ulisesafcdev" target="_blank">Instagram</a></li>
            </ul>
        </p>

    </div>
</div>

<%- include('inc/footer') %>